<h1>Регистрация</h1>

<div class="register_form">
  <%= form_for @sportsman do |f| %>
    <%= f.label :email, 'Почта' %>
    <%= f.text_field :email %>
    
    <%= f.label :password, 'Пароль' %>
    <%= f.password_field :password %>
    
    <%= f.label :password_confirmation, 'Пароль еще раз' %>
    <%= f.password_field :password_confirmation %>
    
    <%= f.label :name, 'Имя' %>
    <%= f.text_field :name %>
    
    <%= f.label :phone, 'Телефон' %>
    <%= f.text_field :phone %>
    
    <%= f.submit 'Вперед!' %>
  <% end %>
</div>
