<div id="group_form">
  <%= form_for([:admin,@group]) do |f| %>
    <%= render partial: 'shared/form_errors', locals: { object: @group } %>
    
    <%= f.label :name, 'Название' %>
    <%= f.text_field :name %>
    
    <%= f.label :num_trainings, 'Тренировки' %>
    <%= f.text_field :num_trainings %>
    
    <%= f.label :days, 'Дни' %>
    <%= f.text_field :days %>
    
    <%= f.submit 'Добавить' %>
  <% end %>
</div>
