<h1>Управление сайтом</h1>

<ul>
  <li><%= link_to 'Новости', admin_news_items_path %></li>
  <li><%= link_to 'Фото', admin_photos_path %></li>
  <li><%= link_to 'Пользователи', admin_users_path %></li>
  <li><%= link_to 'Группы', admin_groups_path %></li>
  <li><%= link_to 'Расписание', admin_events_path %></li>
  <li><%= link_to 'Тренеры', admin_coaches_path %></li>
  <li><%= link_to 'Залы', admin_gyms_path %></li>
  <li><%= link_to 'Спортсмены', admin_sportsmen_path %></li>
</ul>
