<div class="container table">
  <div class="nav cell valign-middle">
    <ul>
      <li><%= link_to 'Клуб' %></li>
      <li><%= link_to 'Тренеры' %></li>
      <li><%= link_to 'Расписание' %></li>
      <li><%= link_to 'Фото' %></li>
      <li><%= link_to 'Контакты' %></li>
      <li>&nbsp;</li>
      <li class="my-club-link"><%= link_to_my_club %><%= image_tag 'me.png' %></li>
    </ul>
  </div>
  <div class="content cell valign-middle">
    <div class="content-inside">
      <h1 class="yellow-white"><span>Высший</span> бокс</h1>
      <div class="left half">
        <p class="padded">
          Кикбоксинг - очень зрелищный, и главное, очень эффективный вид
          единоборства. Достигнувший  совершенства в этом виде спорта становится
          непобедимым для любого противника.
        </p>
        <p>
          Кикбоксинг - универсальный вид боевых искусств, объединивший в себе
          лучшее, наиболее эффективное и максимально прикладное из классического
          английского бокса и восточных единоборств (ушу, каратэ, таэквон-до).
          Зародился кикбоксинг в середине 70-х годов практически одновременно в
          Европе и Америке, с конца 80-х г.г. активно культивируется в России.
          Имея европейские корни, кикбоксинг наиболее понятен и доступен для нас и
          не обременен азиатскими традициями и ритуалами.
        </p>
      </div>
      <div class="right half">
        <h3>
          Клуб создан весной 2013 года.
          Спортивная команда существует с 1999 года
        </h3>
        <p class="padded-right">
          Экипировка кикбоксера и методика подготовки позволяет абсолютно
          безопасно для здоровья заниматься людям любого возраста и пола.
        </p>
        <p class="borders-decorated">
          Занятия кикбоксингом позволяют приобрести крепкое здоровье, навыки
          самообороны, способность решительно действовать в затруднительных или
          опасных ситуациях, формируют уверенность в себе, дают возможность
          обеспечить вашу личную безопасность и безопасность ваших близких,
          помогают приобрести уверенные жесты, позы, взгляд, обеспечивают
          оптимальный вес и идеальную фигуру (наилучший способ регулирования веса
          за счет интенсивных нагрузок)
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container cf">
  <div class="coaches cf">
    <%= render @coaches %>
  </div>
</div>
<div class="container table">
  <div class="schedule cell pdd-btm pdd-tp">
    <h1 class="pdd-btm">Расписание</h1>
    <%= render 'shared/schedule' %>
  </div>
</div>
<div class="container table">
  <div class="header row golden">
    <div class="cell valign-middle">
      <h1 class="yellow-white pdd-tp"><span>Мой</span> бокс</h1>
    </div>
    <div class="cell"></div>
  </div>
  <div class="main row golden">
    <div class="cell">
      <%= render 'shared/login_form' %>
    </div>
    <div class="cell">
      <p>
        Еще не в клубе?<br />
        <%= link_to 'Регистрируйся', new_sportsman_path %>
      </p>
    </div>
  </div>
  <div class="footer row">
    <div class="cell">
      &nbsp;
    </div>
  </div>
</div>
<div class="container cf">
  <div id="latest_news">
    <%= link_to 'Новости', news_items_path %>
    <% cache ['latest_news', NewsItem.order('updated_at').last] do %>
      <%= render @news_items %>
    <% end %>
  </div>
  <div id="latest_photos">
    <% cache ['latest_photos', Photo.last] do %>
      <%= render @photos %>
    <% end %>
  </div>
  <%= link_to 'Контакты', gyms_path %>
  <div id="contacts">
    <%= render 'contacts' if @contacts %>
  </div>
</div>
